html {
    font-family: Ubuntu, sans-serif; 
    background: #fff;
    font-size: 16px;
}

body {
    max-width: 950px; 
    margin: auto; 
    background: #fff;
}

a { color: #b466e9; }

p {
    text-align: center;
    margin: auto;
}

h1, h3 {
    color: #6b4188; 
    margin: 0;
    padding: 0 0 10px 0;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}


img {
    border-radius: 5px;
    display: inline-block;
    margin: auto;
}

form { flex: 0 1 100%; }

label, select, input {
    border:none;
    margin:auto;
    font-size: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

select {
    background: #eee;
    padding-left: 1em;
    padding-left: 2em;
    padding-right: 25px;
}

select:hover { background: #ececec; }

input[type=submit], input[type=button] {
    color:white;
    background-color: #412852;
    padding-left: 1.1em;
    padding-right: 1.1em;
}

input[type=submit]:hover, input[type=button]:hover {
    background-color: #6b4188;
}

#logo {
    flex: 0 1 50%;
}
.contenedor {
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items:flex-start;
    padding: 0px;
    margin: 0px;
}

.cont_titulo {
    flex: 0 1 100%;
    text-align: center;
}

#campeon_cont {
    flex: 0 1 19%;
    justify-content: center;
    padding-top: 3%;
}

#campeon_nombre {
    text-align: center;
    padding: 0;
}

#campeon_img {
    max-width:100%;
}

#stat_cont {
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
    flex: 0 1 80%;
}

#stat_titulo {
    flex: 0 1 100%;
    text-align: center;
    padding-top: 3%;
}

.stat {
    flex: 0 1 15%;
    padding-bottom: 8px;

}

.stat_nombre {
    font-weight: 500;
}

.item {
    flex: 0 1 15%;
    margin-left: 0px;
    padding: 0px 5px 15px 5px;
}

.item_nombre {
    font-size: 18px;
    font-weight: 500;
}

.item_img {
    max-width: 100%;
}

.item_sim {
    font-size: 14px;;
    font-weight: 300;
    color: #888
}


nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
/*.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
*/
