<!doctype html>

<title>{% block title %}{% endblock %}</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;1,300&display=swap" rel="stylesheet"> 
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

{% block content %}{% endblock %}

{% block footer %}

<div class="contenedor-footer">
<p>League of legends es una marca registrada de Riot Games, Inc. 
League of Legends ©Riot Games, Inc.</p>
</div>

{% endblock footer %}

</section>