{% extends "base.html" %}

{% block title %}Recomendaciones{% endblock %}

{% block content %}

  <div class="contenedor"> 
    <div id="campeon_cont">
      <img id="campeon_img" src={{url_for('static', filename = "img/" + campeon + ".jpg")}}>
      <h1 id="campeon_nombre"> {{ campeon }} </h1>
      <p class="item_nombre">{{ get_role(campeon) }}</p>
    </div>

    <div id="stat_cont">
      <h1 id="stat_titulo">Estadísticas base</h1>
      {% for stat in stats%}
        <div class="stat">
          <p class="stat_nombre"> {{ stat[0] }} </p>
          <p class="stat_valor"> {{ stat[1] }} </p>
        </div>
      {%endfor%}
    </div>
  </div>

<hr>
{% include "campeones_similares.html" %}
<hr>
{% include "form_stat.html" %}
<hr>
{% include "form_choose.html" %}

{% endblock %}