{% extends "base.html" %}

{% block title %}Recomendaciones{% endblock %}

{% block content %}
  

  <div class="contenedor"> 
    <div id="campeon_cont">
      <img id="campeon_img" src={{url_for('static', filename = "img/" + campeon + ".jpg")}}>
      <h1 id="campeon_nombre"> {{ campeon }} </h1>
      <p class="item_nombre">{{ get_role(campeon) }}</p>
    </div>

    <div id="stat_cont">
      <h1 id="stat_titulo">Estadísticas base</h1>
      {% for stat in stats%}
        <div class="stat">
          <p class="stat_nombre"> {{ stat[0] }} </p>
          <p class="stat_valor"> {{ stat[1] }} </p>
        </div>
      {%endfor%}
    </div>
  </div>


  <div class="contenedor">
  <h3 class="cont_titulo">Similares a {{ campeon }}</h3>
      {% for item in recomendaciones %}
      <div class="item">
        <a href={{ url_for('link_me', campeon = item[1]) }}>
        <img class="item_img" src={{url_for('static', filename = "img/" + item[1] + ".jpg")}}>
        </a>
        <p class="item_nombre">{{ item[1] }}</p>
        <p class="item_sim">{{ get_role(item[1]) }}</p>
        <p class="item_sim">{{ item[0] }}{{ "%" }}</p>
      </div>
      {% endfor %}
  </div>

  <div class="contenedor">
  <h3 class="cont_titulo">Elige otro campeón</h3>
    <div>
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      {{ form.choose_champ }} 
      <span style="color: red; border:none">{{ error }}</span>
      {{ form.submit() }}
    </form>
    </div>
  </div>

{% endblock %}